@media only screen and (min-width:761px){
header img{
    width: 150px;
}

.navigation li:first-child {display: none;}
.navigation li {display: inline-block;margin-right: 1rem;}
.navigation li a {color: #fff;}
}